<form action="/celebrities" method= "POST">
<div>
  <label for="">name:</label>
  <input type="text" name="name">
</div>
<div>
  <label for="">occupation:</label>
  <input type="text" name="name">
</div>
<div>
  <label for="">catchPhrase:</label>
  <input type="text" name="name">
</div>
<button type="submit">Add celebrity</button>


</form>






